---
---

@charset "utf-8";

// colors
$text-color:          #444;
$heading-text-color:  #222;
$background-color:    #fcfcfc;
$brand-color:         #dc4b3c;
$grey-color:          rgba($text-color, .4);
$shadow-color:        lighten($brand-color, 30%);
$available-color:     #0A8F48;
$unavailable-color:   #1D5BA9;

@import
  "variables",
  "import"
;
