---
---

@charset "utf-8";

// colors
$text-color:       #222;
$background-color: #fcfcfc;
$brand-color:      #dc4b3c;
$shadow-color:     lighten($brand-color, 30%);

@import
  "variables",
  "import"
;
