---
---

@charset "utf-8";

// colors
$brand-color:      #fdcda0;
$text-color:       lighten($brand-color, 15%);
$background-color: desaturate(darken($brand-color, 72%), 96%);
$shadow-color:     rgba($brand-color, .3);

@import
  "variables",
  "import"
;

.post img {
  opacity: .6;
  transition: opacity .25s ease-in-out;
  &:active {
    opacity: 1;
  }
}

code,
.highlight .err {
  background: #333;
}

.highlight .err {
  color: lighten(#a61717, 15%);
}