---
---

@charset "utf-8";

// colors
$brand-color:      #fdcda0;
$text-color:       lighten($brand-color, 18%);
$grey-color:       rgba($text-color, .5);
$background-color: desaturate(darken($brand-color, 72%), 96%);
$shadow-color:     rgba($brand-color, .3);

@import
  "variables",
  "import"
;

.post img {
  opacity: .6;
  transition: opacity .25s ease-in-out;
  &:hover {
    opacity: 1;
  }
}