---
layout: default
---

{% assign blog_count = 0 %}

<section>

  {% for post in paginator.posts %}
    
    {% assign page = post %}
    {% assign content = post.content %}
    {% assign words = content | number_of_words %}
    {% assign currentdate = post.date | date: "%Y-%m-%d" %}

    {% unless page.draft %}
      
      {% include post.html %}

    {% endunless %}

  {% endfor %}

  <nav class="pagination wrapper">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="pagination-previous btn">&lang; Previous</a>
    {% else %}
      <span></span>  
    {% endif %}
    <span class="pagination-number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination-next btn">Next &rang; </a>
    {% else %}
      <span class="pagination-next">Next</span>
    {% endif %}
  </nav>

  <div class="wrapper">
    {% include newsletter.html %}
  </div>

</section>
