---
layout: default
home: true
---

{% for post in site.categories.blog %}
  {% unless post.draft %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if post.date and currentdate != date %}
      {% unless forloop.first %}
        </ul>
      {% endunless %}
      <div class="container">
        <h2 class="post-list__year wrapper" id="y{{ currentdate }}">
          {{ currentdate }}
        </h2>
      </div>
      <ul class="post-list container">
      {% assign date = currentdate %}
    {% endif %}
    {% include post_link.html %}
    {% if forloop.last %}</ul><!-- last -->{% endif %}
  {% endunless %}
{% endfor %}