<div class="wrapper">
  <aside class="m-top call-to-action">
    <div class="call-to-action-header">
      <h2>
        {% if page.categories contains 'design' %}
          Thanks for reading about my work with {{ page.title }}.
        {% else %}
          Need help with your product or website?
        {% endif %}
      </h2>
    </div>
    <p>
      <strong id="data-availability-badge"></strong>
      Drop me a line at <a href="mailto:inquiry@patdryburgh.com">inquiry@patdryburgh.com</a> and let me know what's on your mind.
    </p>
    {% if page.categories contains 'design' %} 
      <p>
         Need some more convincing? Read about <a href="{{ '/work' | absolute_url }}">my work</a> with {% include collection_navigation.html %}.
      </p>
    {% endif %}
  </aside>
</div>