<footer class="site-footer">

  <div class="wrapper">

    <form method="get" id="search" action="http://duckduckgo.com/">
      <input type="hidden" name="sites" value="http://patdryburgh.com"/>
      <input type="hidden" name="k8" value="#222222"/>
      <input type="hidden" name="k9" value="#dc4b3c"/>
      <input type="hidden" name="kt" value="h"/>
      <input type="text" name="q" placeholder="Search via DuckDuckGo&hellip;"/>
      <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
    </form>

    <p class="small">
      If you enjoy <a href="{{ '/blog/' | absolute_url }}" >my writing</a>, you should subscribe to the <a href="{{ site.json }}">JSON</a> or <a href="{{ site.rss }}">RSS</a> feed.
      <br class="hide show-md">You should also <a href="{{ site.twitter }}">follow me on Twitter</a>. If you prefer to take things slow, <a href="{{ '/about/' | absolute_url }}">get to know me</a> a bit better first.
    </p>

  </div>

</footer>