<footer class="site-footer">

  <div class="wrapper">

    {% include navigation.html %}

    {% include search.html %}

    <p class="small">
      If you enjoy <a href="{{ '/blog/' | absolute_url }}" >my writing</a>, you should <a href="{{ '/subscribe/' | absolute_url }}">subscribe</a>.
      You should also <a href="{{ site.twitter }}">follow me on Twitter</a>. <br class="hide show-md">If you prefer to take things slow, <a href="{{ '/about/' | absolute_url }}">get to know me</a> a bit better first.
    </p>

  </div>

</footer>