<header class="wrapper masthead{% if page.categories contains 'design' %} masthead-project{% endif %}">

  <h1 class="site-title">
    <a href="/">Pat Dryburgh</a>
  </h1>

  <nav class="site-menu">
    <ul>
      <li>
        <a href="/blog">Writing</a>
      </li>
      <li>
        <a href="/design">Design</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>

  {% if page.categories contains 'design' %}
    <p>In {{ page.date | date: "%Y" }}, I {{ page.it }} <strong>{{ page.title }}</strong>.</p>
  {% endif %}

</header>