<header class="wrapper masthead{% if page.categories contains 'design' %} masthead-project{% endif %}">

  <a href="{{ site.url }}" class="me"><img src="{{ site.url }}/images/site/pat.png" alt="Pat Dryburgh"></a>

  <h1 class="site-title">
    <a href="{{ site.url }}">Pat Dryburgh</a>
  </h1>

  <nav class="site-menu">
    <ul>
      {% for link in site.data.menu %}
        <li>
          <a href="{{ link.url | prepend: site.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if page.categories contains 'design' %}
    <p>{{ page.it }} <strong>{{ page.title }}</strong>.</p>
  {% endif %}

</header>