<ul class="post-list list-unstyled">
  
  <li>
    <a class="post-link" href="http://apparatus.si/pat-dryburgh/">
      <div class="post-meta">August 14, 2013</div>
      <h3 class="post-title">Apparatus: Pat Dryburgh</h3>
      Slovenian version of podcast with Anže Tomić
    </a>
  </li>
  <li>
    <a class="post-link" href="http://stormingmortal.com/4/">
      <div class="post-meta">June 20, 2013</div>
      <h3 class="post-title">Pink Tanktops, Ben Brooks And The Fact That We Are All Just Some Guy with Pat Dryburgh</h3>
      Podcast with Anže Tomić
    </a>
  </li>
  <li>
    <a class="post-link" href="http://creatiplicity.com/2011/episode-seven-pat-dryburgh/">
      <div class="post-meta">July 26, 2011</div>
      <h3 class="post-title">Creatiplicity Episode 7 — Pat Dryburgh</h3>
      Podcast with Chris Bowler and Shawn Blanc
    </a>
  </li>
</ul>