<aside class="m-top">
    <form 
        action="https://feed.press/e/mailverify" 
        method="post" 
        target="popupwindow" 
        onsubmit="window.open('https://feed.press/e/mailverify?feed_id=patdryburgh', 'popupwindow', 'scrollbars=yes,width=550,height=400'); return true"
        class="call-to-action"
      >

      <div class="call-to-action-header">
        <h2>Subscribe to the Weekly Digest</h2>
      </div>

      <input type="email" name="email" placeholder="Enter your email address to subscribe&hellip;">
      
      <input type="hidden" value="patdryburgh" name="feed_id">
      
      <div class="text-right call-to-action-button">
        <button type="submit" class="btn btn-bordered">Subscribe</button>
      </div>

    </form>
</aside>