<aside class="call-to-action">

     <form 
        action="https://feed.press/e/mailverify" 
        method="post" 
        target="popupwindow" 
        onsubmit="window.open('https://feed.press/e/mailverify?feed_id=patdryburgh', 'popupwindow', 'scrollbars=yes,width=550,height=400'); return true"
      >

      <input type="hidden" value="patdryburgh" name="feed_id">
      
      <label for="emailField">Get a weekly digest of new posts by email:</label>

      <div class="form-group">
        
        <input type="email" name="email" id="emailField" placeholder="Your email address&hellip;">
      
        <button type="submit" class="btn btn-bordered">Subscribe</button>

      </div>

    </form>

</aside>