<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

<meta property="og:title" 
      content="{% if page.title %}{{ page.title }} &mdash; 
      {% endif %}{{ site.title }}" />
<meta property="og:url" 
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | absolute_url }}" />
<meta property="og:description" 
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif post.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

{% if page.home %}
  <meta property="og:type" content="website" />
{% elsif page.categories contains 'photo' %}
  <meta property="og:type" content="article" />
{% elsif page.categories contains 'design' %}
  <meta property="og:type" content="article" />
  <meta property="article:author" content="https://www.facebook.com/patrick.dryburgh" />
  <meta property="og:site_name" content="{{ site.title }}" />
{% elsif page.categories contains 'blog' %}
  <meta property="og:type" content="article" />
  <meta property="article:author" content="https://www.facebook.com/patrick.dryburgh" />
  <meta property="og:site_name" content="{{ site.title }}" />
{% endif %}

{% if page.photo %}
  <meta property="og:image" content="{{ page.photo | absolute_url }}" />
{% elsif post.photo %}
  <meta property="og:image" content="{{ post.photo | absolute_url }}" />
{% else %}
  <meta property="og:image" content="https://c2.staticflickr.com/8/7060/6904847186_8ed35bb470_h.jpg" />
{% endif %}

<link href="https://micro.blog/pat" rel="me" />