{% assign words = content | number_of_words %}
{% capture post_photo_class %}
  post__photo--{{ include.photo | remove: "/images/uploads/" | replace: ".", "-" }}
{% endcapture %}

<article class="post">

  <div class="container wrapper">

    {% include post_header.html %}

  </div>

  {% if include.photo %}
    <figure class="post__photo {{ post_photo_class }}">
      <a href="{{ page.url | absolute_url }}">
        <img src="{{ include.photo | absolute_url }}" alt="{{ page.title }}">
      </a>
    </figure>
  {% endif %}
  
  <div class="container wrapper">
  
    <section class="post__content">
      
      {{ page.content | markdownify }}

      {% if page.categories contains 'design' %}
        {% include design_cta.html %}
      {% endif %}

    </section>

  </div>

</article>