<li>
  {% if post.categories contains 'design' and post.photo %}
  <div id="{{ post.url_title }}" class="underlay"></div>
  {% endif %}
  <a 
    class="post-link{% if post.categories contains 'design' and post.photo %} js-project-link{% endif %}"
    href="{{ post.url | prepend: site.baseurl }}"
    {% if post.categories contains 'design' and post.photo %}
      data-underlay="{{ post.url_title }}"
    {% endif %}
  >
    <div class="wrapper">
      <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
      <h2 class="post-title">
        {{ post.title }}
      </h2>
    </div>
  </a>
</li>