{% assign date = page.date | date: "%Y-%m-%d" %}


<header class="post__heading">
    {% if date and date != currentdate %}
      {% unless page.categories contains 'design' %}
        <div class="post__meta">
          {{ page.date | date: "%b %-d, %Y" }}
          {% if page.categories contains 'blog' %}
            {% include read_time.html %}
          {% endif %}
        </div>
      {% endunless %}
    {% endif %}
    {% if page.title != "" %}
      {% if page.link %}
        <a href="{{ page.link }}" class="post__link">{{ page.title }}&nbsp;&rarr;</a>
      {% elsif page.categories contains 'blog' %}
        <h1 class="post__title">
          <a href="{{ page.url }}">{{ page.title }}</a>
        </h1>
      {% else %}
        <h1 class="post__title {% if page.categories contains 'design' %}post__title--project{% endif %}">
          {{ page.title | markdownify | replace: "<p>", "" | replace: "</p>", "" }}
        </h1>
      {% endif %}
      
      {% if page.subtitle == "availability" %}
        <h2 class="post__subtitle data-availability-badge"></h2>
      {% elsif page.subtitle %}
        <h2 class="post__subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    {% endif %}
</header>

{% assign currentdate = page.date | date: "%Y-%m-%d" %}