{% assign words = content | number_of_words %}
{% assign post_class = 'post' %}
{% if page.categories contains 'micro' %}
  {% assign post_class = 'post post--micro' %}
{% endif %}
<article class="{{ post_class }}">

  {% include post_header.html %}

  {% if page.photo %}
    <figure class="post__photo">
      <img src="{{ page.photo | absolute_url }}" alt="{{ page.title }}">
    </figure>
  {% endif %}
  
  <section class="post__content container">

    <div class="wrapper">
  
      {% if page.link %}
        <p>
          <a href="{{ page.link }}" class="post--micro__link">{{ page.title }} &rarr;</a>
        </p>
      {% endif %}
      
      {{ content | markdownify }}

      {% if page.categories contains 'design' %}
        {% include design_cta.html %}
      {% endif %}

    </div>

  </section>

</article>