html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle} .clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

// Baseline

// @import url("//basehold.it/24") only screen;
// @import url("//basehold.it/30") only screen and (min-width: $on-tablet);

// Body

::-moz-selection { background: lighten($brand-color, 30%); }
::selection { background: lighten($brand-color, 30%); }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: $brand-color;
  height: 100%;
  @media (min-width: $on-bigphone) {
    font-size: $base-font-size * 1.25;
  }
}

body {
  background-color: $background-color;
  color: $text-color;
  font: $base-font-weight $base-font-size $base-font-family;
  line-height: $base-line-height;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  transition: background-color .125s ease-in-out;
}

// Typographical elements

p,
ul,
ol,
dd {
  margin: 1.5em 0;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: $heading-text-color;
  font-family: $secondary-font-family;
  font-weight: 900;
  > a,
  > a:visited {
    color: $heading-text-color;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  @media (min-width: $on-tablet) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  @media (min-width: $on-tablet) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  h1 + & {
    margin-top: .75rem;
  }
}

h3 {
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @media (min-width: $on-tablet) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

strong {
  font-weight: 700;
  h1 > & {
    font-weight: 900;
  }
}

em {
  font-style: italic;
}

// h1, h2, h3, h4, h5, h6,
// p, blockquote, pre,
// ul, ol, dl, figure {
//   margin: $spacing-unit 0;
// }

// h1, h2, h3, h4, h5, h6 {
//   color: $heading-text-color;
//   font-family: $secondary-font-family;
//   font-weight: 700;
// }

// h2, h3, h4, h5, h6 {
//   margin-top: 1em;
//   margin-bottom: .5em;
// }

// h2 {
//   font-size: 1.5em;
//   line-height: 1.25;
// }

// h4 {
//   font-size: 1em;
//   font-weight: 700;
//   text-transform: uppercase;
// }

// h5 {
//   font-size: .825em;
//   font-weight: normal;
//   text-transform: uppercase;
// }

// h6 {
//   font-size: .75em;
//   font-weight: normal;
//   text-transform: uppercase;
// }

.year-heading {
  color: $grey-color;
  font-family: $base-font-family;
  font-size: .75em;
  margin-bottom: .75em;
  margin-top: 1em;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.small {
  font-size: .75em
}

//// Blockquotes

cite .title {
  display: block;
  line-height: 1;
  margin-left: 1.5em;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

//// Lists

ul, ol {
  margin-left: $spacing-unit * 1.5;
}

li {
    > ul,
    > ol {
       margin-bottom: 0;
    }
}

//// Links

a {
  color: $text-color;
  text-decoration: none;
  
  &:visited {
    color: lighten($text-color, 5%);
  }

  &:hover {
    text-decoration: none;
  }

  .post__content &,
  .footer &,
  .call-to-action & {
    text-decoration: underline;
    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

// Abbreviations

abbr {
  cursor: help;
}

// Code formatting

code {
  background: none;
  color: darken($brand-color, 20%);
  font: 1em "Courier", monospace;
  padding: 1px 5px;
}

pre {
  background: none !important;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 100%;
  > code {
    background: none;
    border: 0;
    padding: 8px 0;
    font-size: 1em;
    > span {
      background: none;
      color: inherit;
    }
  }
}

// Sub and superscript

sup, 
sub {
  line-height: 1;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

.post__content sup,
.post__content sub {
  a {
    display: inline-block;
    border-radius: 1em;
    font-family: $secondary-font-family;
    padding: .065em .5em .325em;
    margin: 0 .125rem;
    text-decoration: none;
    background: $grey-color;
    color: $background-color;
    &:hover,
    &:focus {
      background: $brand-color;
      color: $background-color;
    }
  }
}

// Images

img {
  max-width: 100%;
  vertical-align: middle;
}

// Hard rules

hr {
  border: 0;
  margin: auto;
  @include m(top);
  @include m(bottom);
  &:after {
    @include separator;
  }
}

// Tables

table {
  min-width: 100%;
  font-family: $base-font-family;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

table th,
table td {
  padding-bottom: .5em;
  padding-left: 1em;
  vertical-align: top;
}

table th:first-child,
table td:first-child {
  padding-left: 0;
}

// Signatures

.signatures th {
  padding-bottom: 2em;
}

.signatures td {
  border-top: $border-width solid $text-color;
  font-family: $base-font-family;
  font-size: .625em;
  padding-bottom: 3em;
  width: 40%;
  text-transform: uppercase;
}

.signatures .divide {
  border-top: 0;
  width: 10%;
}