/* Reset some basic elements */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/* Basic styling */

html {
  @media (min-width: $on-laptop) {
    font-size: 1.125em;
  }
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}


/* Set `margin-bottom` to maintain vertical rhythm */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin: $spacing-unit 0;
}


/* Images */

img {
  max-width: 100%;
  vertical-align: middle;
}


/* Figures */

.post-content figure {
  position: relative;
}

figure > img {
  display: block;
  margin-bottom: 1rem;
}

figcaption {
  font-size: .625em;
  font-style: italic;
}

.post-content figcaption {
  @media (min-width: 58rem) {
    border-top: 1px solid #eee;
    left: 100%;
    margin-left: 2rem;
    padding-top: 2em;
    position: absolute;
    top: 0;
    width: 8rem;
  }
}


/* Lists */

ul, ol {
  margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
       margin-bottom: 0;
    }
}


/* Links */

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/* Buttons */

.btn {
  border: 1px solid $brand-color;
  border-radius: 3em;
  font-family: $secondary-font-family;
  font-size: .625em;
  padding: .5em 1.5em;
  letter-spacing: .125em;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: $brand-color;
    color: #fff;
    text-decoration: none;
  }
}

/* Blockquotes */

blockquote {
  border-left: .25rem solid $brand-color;
  color: $grey-color;
  padding-left: $spacing-unit;
  font: italic 400 1em/1.325 $secondary-font-family;
  font-style: italic;
  position: relative;

  p {
    position: relative;
    z-index: 2
  }
  
  em {
    font-style: normal;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @media (min-width: $on-laptop) {
    margin-left: -1.25rem;
  }
}


/* Code formatting */

pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Sub and super-script */

sup, 
sub {
  line-height: 1
}


/* Hard rules */

hr {
  border: 0;
  margin: 1.5em auto;
  &:after {
    content: ". . .";
    color: #d2d2d2;
    display: inline-block;
    letter-spacing: .5em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}


/* Clearfix */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Icons */

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: baseline;

    path {
      fill: $grey-color;
    }
  }
}
