/* Reset some basic elements */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/* Basic styling */

body {
  background-color: $background-color;
  font: 400 $base-font-size $base-font-family;
  line-height: $base-line-height;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  @media screen and (min-width: $on-tablet) {
    font-size: 1.425em;
  }
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin: $spacing-unit 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  line-height: 1;
}

h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: .825em;
  text-transform: uppercase;
}

h5 {
  font-size: .825em;
  font-weight: normal;
  text-transform: uppercase;
}

h6 {
  font-size: .75em;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  margin: 1em 0;
}

h2 + p {
  margin-top: 0;
}

.year-heading {
  color: $grey-color;
  font-family: $base-font-family;
  font-size: .75em;
  margin-bottom: .75em;
  margin-top: 1em;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.small {
  font-size: .75em
}

/* Images */

img {
  max-width: 100%;
  vertical-align: middle;
}


/* Lists */

ul, ol {
  margin-left: $spacing-unit * 1.5;
}

li {
    > ul,
    > ol {
       margin-bottom: 0;
    }
}


/* Links */

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/* Buttons */

.btn {
  background: none;
  border: 0;
  color: $brand-color;
  font-family: $base-font-family;
  font-size: .625em;
  font-weight: 700;
  letter-spacing: .125em;
  padding: .25em 0;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: darken($brand-color, 15%);
    text-decoration: none;
  }
}

/* Blockquotes */

blockquote {
  border-left: .25rem solid $brand-color;
  color: $grey-color;
  padding-left: $spacing-unit;
  font: italic 400 1em/1.425 $base-font-family;
  font-style: italic;
  position: relative;

  p {
    position: relative;
    z-index: 2
  }
  
  em {
    font-style: normal;
  }

  > :last-child {
    margin-bottom: 0;
  }
  @media (min-width: $on-laptop) {
    margin-left: -1.25em;
  }
}

cite .title {
  display: block;
  line-height: 1;
  margin-left: 1.5em;
}


/* Code formatting */

pre,
code {
  font-size: 15px;
  border-radius: 3px;
}

code {
  background: lighten($brand-color, 40%);
  color: darken($brand-color, 20%);
  padding: 1px 5px;
}

pre {
  background: none !important;
  padding: 8px 12px;

  > code {
    border: 0;
    white-space: pre-line;
    padding-right: 0;
    padding-left: 0;
  }
}

/* Sub and super-script */

sup, 
sub {
  line-height: 1
}


/* Hard rules */

hr {
  border: 0;
  margin: 1.5em auto;
  &:after {
    content: ". . .";
    color: #d2d2d2;
    display: inline-block;
    letter-spacing: .5em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}


/* Clearfix */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Icons */

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: baseline;

    path {
      fill: $grey-color;
    }
  }
}

/* Tables */

table {
  min-width: 100%;
  font-family: $base-font-family;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

table th,
table td {
  padding-bottom: .5em;
  padding-left: 1em;
  vertical-align: top;
}

table th:first-child,
table td:first-child {
  padding-left: 0;
}

.signatures th {
  padding-bottom: 2em;
}

.signatures td {
  border-top: 1px solid $text-color;
  font-family: $base-font-family;
  font-size: .625em;
  padding-bottom: 3em;
  width: 40%;
  text-transform: uppercase;
}

.signatures .divide {
  border-top: 0;
  width: 10%;
}