.btn {
  background: none;
  border: 0;
  color: $brand-color;
  font: 700 .625em $secondary-font-family;
  letter-spacing: .125em;
  padding: .25em 0;
  text-transform: uppercase;
  transition: all .175s ease-in-out;
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    @include text-shadow(2px);
  }
}

.btn-bordered {
  background-color: $brand-color;
  color: $background-color !important;
  padding: .5em .75em;
  border-radius: .125em;
  &:hover,
  &:focus {
    background-color: darken($brand-color, 10%) !important;
    color: $background-color !important;
    text-shadow: none;
  }
}