form {
  @include m(bottom);
  @include m(top);
}

input[type="text"],
input[type="email"],
textarea {
  background: none;
  border: $border-width solid $grey-color;
  color: $text-color;
  display: block;
  font: 400 .825em $base-font-family;
  padding: .5em;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:focus {
    outline: none;
    border-color: $brand-color;
  }
  &[type=submit] {
    padding: 0;
  }
}

button[type=submit] {
  outline: none;
}

label {
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  @media (min-width: $on-tablet) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
}

.form-group input {
  flex: 1 1 auto;
}