.grid {
  display: grid;
}

.grid-1-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-1-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-center {
  align-items: center;
}

.grid-padded-columns {
  grid-column-gap: $spacing-unit * 2;
}

.grid-padded-rows {
  grid-row-gap: $spacing-unit * 2;
}

@media (min-width: $on-tablet) {
  .grid-tablet {
    display: grid;
  }
}

@media (min-width: $on-laptop) {
  .grid-laptop {
    display: grid;
  }
}

@media (min-width: $on-desktop) {
  .grid-desktop {
    display: grid;
  }
}