// Font Loading

.wf-loading {
  opacity: 0;
  visibility: hidden;
}
 
.ie.wf-loading {
  visibility: hidden;
}

.ie.wf-active {
  visibility: visible;
}
 
.wf-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .625s ease-in-out;
  -moz-transition: opacity .625s ease-in-out;
  transition: opacity .625s ease-in-out;
}

// Wrapper

.wrapper {
  width: 90%;
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;

  @extend %clearfix;

  @media screen and (min-width: $on-tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media screen and (min-width: $on-laptop) {
    margin-left: 0;
    left: 8rem;
    padding-right: 0;
    padding-left: 0;
  }
}

// Spacing

.m-top {
  margin-top: 4em;
}

// Footer

.site-footer {
  padding: 6em 0 2em;
}

// Content

.page-content {
  @media screen and (min-width: 840px) {
    margin-top: -4em;
  }
}

.post-content {
  position: relative;
}

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  .post-content p:first-child::first-letter,
  .post-content .pull-out:first-child + p::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    color: $brand-color;
    font-weight: 700;
    margin-top: 1em;
    margin-right: .5em;
  }
  .post .post-content .wrapper blockquote p:first-child::first-letter,
  .post .post-content .wrapper li p:first-child::first-letter,
  .post .post-content .wrapper > .no-il p:first-child::first-letter {
    -webkit-initial-letter: normal;
    initial-letter: normal;
    color: inherit;
    font-weight: 400;
    margin-top: 0;
    margin-right: 0;
  }
}

.list-unstyled {
  list-style: none;
  margin: 0;
}

.site-nav--links {
  display: none;
}

.post-link {
  background-position: 0 100%;
  color: $text-color;
  display: block;
  padding: .5em 0;
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: .25em;
    background: $brand-color;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }
  &:hover {
    background-position: 0 0;
    text-decoration: none;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    .post-title {
      color: $brand-color;
    }
  }
  &:visited {
    opacity: .6;
  }
  // @media screen and (min-width: $on-tablet) {
  //   padding: 1.25em 8rem;
  // }
}

.post-link .wrapper {
  z-index: 1;
}

.post-meta {
  color: $grey-color;
  font-family: $base-font-family;
  font-size: .75em;
  text-transform: uppercase;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  a {
    color: inherit;
  }
}

.post-title {
  color: $text-color;
  font: 900 2em/1 $base-font-family;
  margin: 0 0 1em;
  position: relative;
  z-index: 99;
  @media (min-width: $on-tablet) {
    font-size: 2.5em;
  }
}

.post-link .post-title {
  font-size: 1em;
  margin: 0;
}

h3.post-title {
  font-size: 1.25em;
}

.call-to-action {
  border: 1px solid $brand-color;
  padding: 0 1em;
  max-width: 36rem;
  @media (min-width: $on-tablet) {
    margin-left: -1em;
    margin-right: -1em;
  }
}

.call-to-action-header {
  margin: 0 -.5em 0;
  padding: 0 1em 0 .5em;
  position: relative;
  top: -.825em;
}

.call-to-action h2 {
  background-color: $background-color;
  box-shadow: .5em 0 0px 0px $background-color, -.5em 0 0px 0px $background-color;
  font-size: 1em;
  display: inline;
}

.call-to-action-header + p {
  margin-top: -.625em;
}

.call-to-action form {
  margin-bottom: 1em;
}

/* Figures & Images */

.post img {
  max-width: 100%;
  height: auto;
}

figure {
  position: relative;
}

figure > img {
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: .625em;
  font-style: italic;
}

.extra-wide {
  margin-left: -1em;
  margin-right: -1em;
  text-align: center;
  @media (min-width: $on-tablet) {
    margin-left: -3em;
    margin-right: -3em;
  }
  @media (min-width: $on-desktop) {
    display: flex;
    width: 100vw;
    margin-top: 2em;
    margin-right: 0;
    margin-left: -6em;
  }
}

.extra-wide img {
  max-width: 100%;
  @media screen and (min-width: $on-desktop) {
    width: -webkit-calc(100% - 15.25em);
    width: calc(100% - 15.25em);
    max-width: 41.75em;
    margin-left: 3em;
    height: 100%;
  }
}

.extra-wide figcaption {
  margin: 0 1em;
  @media (min-width: $on-desktop) {
    border-top: 4px solid $brand-color;
    margin-left: 3em;
    padding-top: 1em;
    text-align: left;
    top: 0;
    width: 10em;
  }
}

.photo {
  margin: 1em 0 2em;
  @media (min-width: $on-tablet) {
    margin: 1em 4em 2em;
  }
  img {
    display: inline-block;
  }
}

.photo-masthead {
  margin: 0 0 2em;
  img {
    width: 100%;
  }
}

.underlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 37em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
  @media (min-width: $on-laptop) {
    display: block;
  }
}

#me {
  opacity: 1;
}

.photo-list {
  padding: 1em 0;
  @media (min-width: $on-tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
}

.photo-list li {
  @media (min-width: $on-tablet) {
    width: 50%;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
  }
}

// Misc

.pull-out {
  @media screen and (min-width: $on-desktop) {
    font-size: .75em;
    position: absolute;
    left: 100%;
    margin-left: 4em;
    margin-top: .475em;
    width: 12em;
    blockquote,
    p:first-child {
      margin-top: 0;
    }
    blockquote {
      line-height: 1.475;
    }
  }
}

.footnotes {
  font-size: .825em;
  margin-bottom: 3em;
  padding-bottom: 2em;
  &:before {
    content: ". . .";
    color: #d2d2d2;
    display: inline-block;
    letter-spacing: .5em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.social-media-list > a > svg {
  fill: currentColor;
  vertical-align: baseline;
}