// Font Loading

.wf-loading body * {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .625s ease-in-out;
  -moz-transition: opacity .625s ease-in-out;
  transition: opacity .625s ease-in-out;
}
 
.ie.wf-loading body * {
  visibility: hidden;
}

.ie.wf-active body * {
  visibility: visible;
}
 
.wf-active body * {
  visibility: visible;
  opacity: 1;
}

// Wrapper

.wrapper {
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;

  @extend %clearfix;

  @media screen and (min-width: $on-tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}

// Spacing

.m-top {
  @include m-top;
}

.blog .m-top:first-child {
  margin-top: 0;
}

.m-bottom {
  @include m-bottom;
}

// Footer

.site-footer {
  padding: 6em 0 2em;
}

// Content

.page-content {
  @include p-top;
}

.post-content {
  position: relative;
}

.list-unstyled {
  list-style: none;
  margin: 0;
}

.site-nav--links {
  display: none;
}

.post-link {
  // background-position: 0 100%;
  color: $text-color;
  display: block;
  padding: .5em 0;
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  & .post-title:before {
    content: "";
    z-index: -1;
    display: inline-block;
    height: .25em;
    width: 0;
    position: absolute;
    top: .325em;
    right: 100%;
    margin-right: .5em;
    background: $brand-color;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
  }
  &:hover {
    // background-position: 0 0;
    text-decoration: none;
    & .post-title:before {
      width: 2em;
    }
    .post-title {
      color: $brand-color;
    }
  }
  &:visited {
    opacity: .6;
  }
  // @media screen and (min-width: $on-tablet) {
  //   padding: 1.25em 8rem;
  // }
}

.post-link .wrapper {
  z-index: 1;
}

.post-meta {
  color: $grey-color;
  font-family: $base-font-family;
  font-size: .75em;
  text-transform: uppercase;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  a {
    color: inherit;
  }
}

.post-title {
  color: $text-color;
  font: 900 2em/1 $base-font-family;
  margin: 0 0 .25em;
  position: relative;
  z-index: 99;
  a {
    background-position: 0 1.125em;
    background-repeat: repeat-x;
    background-size: 1px 4px;
    color: $text-color;
    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
      @include shadow(2px);
    }
  }
  & + h2 {
    opacity: .7;
    font-weight: 400;
    margin-top: 0;
  }
}

.post-link .post-title {
  font-size: 1em;
  margin: 0;
}

.m-top + .post-micro {
  margin-top: 1em; 
}

.post-micro p:last-of-type {
  display: inline;
}

.post-micro a + p {
  margin-top: 0;
}

.post-micro-link {
  display: block;
  font-weight: 700;
  margin-bottom: 1em;
}

.single .post-micro-link {
  margin-top: 1em;
  & + p {
    margin-top: 0;
  }
}

.post-reference {
  display: inline-block;
  font-size: .75em;
  position: relative;
  top: -.25em;
  margin-left: .25em;
}

h3.post-title {
  font-size: 1.25em;
}

.call-to-action {
  border: $border-width solid $brand-color;
  padding: 0 1em;
  // max-width: 36rem;
}

.call-to-action-header {
  margin: 0 -.5em 0;
  max-width: 36rem;
  padding: 0 1em 0 .5em;
  position: relative;
  top: -.825em;
}

.call-to-action h2 {
  background-color: $background-color;
  box-shadow: .5em 0 0px 0px $background-color, -.5em 0 0px 0px $background-color;
  font-size: 1.325em;
  display: inline;
}

.call-to-action-header + * {
  margin-top: -.25em;
}

.call-to-action form {
  margin-bottom: 1em;
}

.call-to-action-button {
  margin-bottom: -1.75em;
  margin-top: .25em;
  .btn {
    background: $background-color;
  }
}

/* Figures & Images */

.post img {
  max-width: 100%;
  height: auto;
}

figure {
  position: relative;
}

figure > img {
  display: inline-block;
  margin-bottom: 1em;
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: .625em;
  font-style: italic;
}

.extra-wide {
  // margin-left: -1em;
  // margin-right: -1em;
  text-align: center;
  @media (min-width: $on-tablet) {
    margin-left: -2em;
    margin-right: -2em;
  }
  @media (min-width: $on-desktop) {
    // display: flex;
    margin-top: 2em;
    margin-left: -6em;
    margin-right: -6em;
  }
}

.extra-wide img {
  max-width: 100%;
  height: auto;
  // @media screen and (min-width: $on-desktop) {
  //   width: -webkit-calc(100% - 15.25em);
  //   width: calc(100% - 15.25em);
  //   max-width: 41.75em;
  //   margin-left: 3em;
  //   height: 100%;
  // }
}

.extra-wide figcaption {
  margin: 0 1em;
  // @media (min-width: $on-desktop) {
  //   border-top: 4px solid $brand-color;
  //   margin-left: 3em;
  //   padding-top: 1em;
  //   text-align: left;
  //   top: 0;
  //   width: 10em;
  // }
}

.photo {
  margin: 1em 0 2em;
  text-align: center;
  img {
    display: inline-block;
    margin: 0 auto;
  }
}

.underlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 37em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
  @media (min-width: $on-laptop) {
    display: block;
  }
}

#me {
  opacity: 1;
}

.photo-list {
  padding: 1em 0;
  @media (min-width: $on-tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }
}

.photo-list li {
  @media (min-width: $on-tablet) {
    width: 50%;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
  }
}

// Misc

blockquote {
  border: 0;
  color: $text-color;
  font-size: 1em;
  font-style: italic;
  line-height: 1.475;
  margin: 2em 0;
  padding-left: $spacing-unit;
  padding-top: .5em;
  position: relative;
  p {
    opacity: .7;
    position: relative;
    z-index: 2
  }  
  em {
    font-style: normal;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p:first-child {
    margin-top: 0;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "“";
    quotes: '“';
    font-size: 3em;
    line-height: .5rem;
    color: $brand-color;
    background-position: 0 1.125em;
    background-repeat: repeat-x;
    background-size: 1px 4px;
    text-decoration: none;
    @include text-shadow(2px);
    @media (min-width: $on-tablet) {
      font-size: 4em;
    }
  }
  @media (min-width: $on-tablet) {
    transform: rotate(-1.5deg);
  }
}

cite {
  display: block;
  font-size: .75em;
  font-style: normal;
  float: right;
  padding: .125em 1em .5em;
}

.pull-out {
  @extend %clearfix;
  @media (min-width: $on-tablet) {
    float: right;
    margin: 0em -2em 2em 1em;
    width: 40%;
    blockquote {
      font-size: .825em;
    }
  }
  @media (min-width: $on-desktop) {
    margin-right: -8em;
  }
}

.footnotes {
  &:before {
    @include separator;
  }
  ol {
    margin-top: 2em;
  }
  li {
    font-size: .825em;
  }
}

.social-media-list > a > svg {
  fill: currentColor;
  vertical-align: baseline;
}


// Projects

.project-masthead {
  img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.project-title {
  font-weight: 400;
  @include m-top;
  @include m-bottom;
}

.project-description {
  color: #fff;
  padding: ($spacing-unit * 2) $spacing-unit;
  text-align: center;
}