@mixin text-shadow($width) {
  text-shadow: 1px 1px 0 $background-color, $width $width 0 $shadow-color, ($width + 1) ($width + 1) 0 $background-color;
}

@mixin shadow($width) {
  background-image: linear-gradient(to right, $shadow-color 100%, $shadow-color 100%);
  @include text-shadow($width);
}

@mixin separator {
  content: "• • •";
  color: $grey-color;
  display: inline-block;
  letter-spacing: 1em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: .125rem;
  margin-top: -.325rem;
}

@mixin m($side) {
  margin-#{$side}: $spacing-unit;
  @media (min-width: $on-tablet) {
    margin-#{$side}: $spacing-unit * 2;
  }
}

@mixin p($side) {
  padding-#{$side}: $spacing-unit;
  @media (min-width: $on-tablet) {
    padding-#{$side}: $spacing-unit * 2;
  }
}

@mixin figures {
  @media (min-width: $on-tablet) {
    margin-left: -33.333333%;
    margin-right: -19.333333%;
  }
  @media (min-width: $on-desktop) {
    margin-right: -33.333333%;
    // margin-right: $spacing-unit * -1;
    .pull-out + & {
      width: 80%
    }
  }
  // @media (min-width: $on-desktop) {
  //   margin-left: $spacing-unit * -2;
  //   margin-right: $spacing-unit * -2;
  //   .pull-out + & {
  //     width: 80%
  //   }
  // }
}