@mixin text-shadow($width) {
  text-shadow: 1px 1px 0 $background-color, $width $width 0 $shadow-color, ($width + 1) ($width + 1) 0 $background-color;
}

@mixin shadow($width) {
  background-image: linear-gradient(to right, $shadow-color 100%, $shadow-color 100%);
  @include text-shadow($width);
}

 @mixin separator {
  content: ". . .";
  color: rgba($text-color, .4);
  display: inline-block;
  letter-spacing: .5em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@mixin m-top {
  margin-top: 2em;
  @media (min-width: $on-tablet) {
    margin-top: 4em;
  }
}

@mixin m-bottom {
  margin-bottom: 2em;
  @media (min-width: $on-tablet) {
    margin-bottom: 4em;
  }
}

@mixin p-top {
  padding-top: 2em;
  @media (min-width: $on-tablet) {
    padding-top: 4em;
  }
}

@mixin p-bottom {
  padding-bottom: 2em;
  @media (min-width: $on-tablet) {
    padding-bottom: 4em;
  }
}

@mixin figures {
  @media (min-width: $on-tablet) and (max-width: $on-desktop) {
    margin-left: -2rem;
    margin-right: -2rem;
    .pull-out + & {
      width: 60%
    }
  }
  @media (min-width: $on-desktop) {
    margin-top: 2rem;
    margin-left: -6rem;
    margin-right: -6rem;
    .pull-out + & {
      width: 80%
    }
  }
}