.header {
  font-family: $secondary-font-family;
  @include p(top);
  @include m(bottom);
  display: flex;
  // text-transform: uppercase;
}

.logo {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0;
  margin-right: $spacing-unit;
  min-width: 34px;
  text-decoration: none;
  @media (min-width: $on-tablet) {
    margin-right: 0;
    width: 6rem;
  }
  @media (min-width: $on-laptop) {
    margin-left: 0;
  }
  a,
  a:visited {
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    transition: all .5s ease-in-out;
    width: 69px;
  }
  &:hover img,
  &:focus img {
    transform: rotate(-2.5deg);
  }
}

.menu {
  display: flex;
  font-family: $secondary-font-family;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: ($spacing-unit / -3);
}

.menu__listitem {
  max-width: min-content;
  min-width: 50%;
  list-style: none;
  @media (min-width: $on-tablet) {
    width: auto;
    margin-right: $spacing-unit;
  }
  a {
    font-size: .925rem;
    padding: .25rem .5rem;
    position: relative;
    text-decoration: none;
    z-index: 1;
    &::before {
      background: $brand-color;
      content: "";
      display: block;
      position: absolute;
      top: .125rem;
      bottom: 0;
      left: .125rem;
      right: 0;
      z-index: -1;
      transform: scaleX(0) skew(-2.5deg) rotate(-.75deg);
      transform-origin: top left;
      transition: transform .125s ease-in-out;
    }
    &.menu__listitem--active,
    &:hover,
    &:focus {
      color: $background-color;
      text-decoration: none;
      outline: none;
    }
    &.menu__listitem--active::before,
    &:hover::before,
    &:focus::before {
      transform: scaleX(1) skew(-2.5deg) rotate(-.75deg);
    }
    &.menu__listitem--active::before {
      background: rgba($brand-color, .5);
    }
  }
}

.menu button {
  margin-left: $spacing-unit / 2;
  @media (min-width: $on-tablet) {
    margin-left: $spacing-unit;
  }
}