.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include m(top);
  @include m(bottom);
}

.pagination > * {
  flex-grow: 1;
}

.pagination-number {
  font-family: $secondary-font-family;
  font-size: .625em;
  letter-spacing: .125em;
  padding: .25em 0;
  text-transform: uppercase;
  text-align: center
}

.pagination-next {
  text-align: right;
}