#js-theme-toggle {
  background: none;
  border: 1px solid $text-color;
  border-radius: .5rem;
  cursor: pointer;
  display: inline-block;
  height: .75rem;
  width: 1.5rem;
  margin-top: .125rem;
  text-indent: -9999px;
  position: relative;
  transition: all .25s ease-in-out;
  -webkit-appearance: none;
  &::after {
    content: "";
    display: block;
    background: $text-color;
    position: absolute;
    top: .125rem;
    left: .125rem;
    bottom: .125rem;
    width: .5rem;
    border-radius: .75rem;
    transition: all .25s ease-in-out;
  }
  &.night:after {
    left: .75rem;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

// #js-theme-toggle {
//   -webkit-appearance: none;
//   background: none;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 50%;
//   border: none;
//   outline: none;
//   height: 25px;
//   width: 25px;
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 25px;
//   text-indent: -9999px;
//   z-index: 999;
//   @media (min-width: $on-tablet) {
//     position: fixed;
//   }
// }

// #js-theme-toggle.day {
//   background-image: url('/images/site/sun.svg');
// }

// #js-theme-toggle.night {
//   background-image: url('/images/site/moon.svg ');
// }