#js-theme-toggle {
  -webkit-appearance: none;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  text-indent: -9999px;
  z-index: 999;
  cursor: pointer;
  @media (min-width: $on-tablet) {
    position: fixed;
  }
}

#js-theme-toggle.day {
  background-image: url('/images/site/sun.svg');
}

#js-theme-toggle.night {
  background-image: url('/images/site/moon.svg ');
}