// Typography
$base-font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
$secondary-font-family: "freight-macro-pro", Georgia, Times, serif;
$base-font-size:   1em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1em;
$border-width:     1px;

// Width of the content area
$content-width:    42rem;

$on-bigphone:      28rem;
$on-tablet:        48rem;
$on-laptop:        58rem;
$on-desktop:       75rem;