// Typography
$base-font-family: "freight-text-pro", Georgia, Times, serif;
$secondary-font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
$base-font-size:   1em;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;
$base-font-weight: 400;

$spacing-unit:     1.5rem;
$border-width:     1px;

// Width of the content area
$content-width:    30rem;

$on-bigphone:      375px;
$on-tablet:        768px;
$on-laptop:        928px;
$on-desktop:       1024px;