---
layout: default
title: Design
subtitle: I help companies solve big problems with creative thinking and [design sprints](/design-sprints/).
---

<main class="work">

  <div class="wrapper">
    {% for post in site.categories.design %}
      {% unless post.draft %}
        {% if forloop.first == true %}
          For instance, I {% include case_study.html %};
        {% elsif forloop.last == false %}
          {% include case_study.html %};
        {% else %}
          and {% include case_study.html %}.
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>

</main>