---
browser_title: Blog
title: Published since 2004
subtitle: Luckily for you, this list is sorted newest to oldest.
layout: post
---

{% include search.html %}

<section class="blog">

  {% for post in site.categories.blog %}
    {% unless post.draft %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if post.date and currentdate != date %}
        {% unless forloop.first %}
          </ul>
        {% endunless %}
        <div class="post-list__year">
          <h2 class="post-list__year" id="y{{ currentdate }}">{{ currentdate }}</h2>
        </div>
        <ul class="post-list list-unstyled">
        {% assign date = currentdate %}
      {% endif %}
      {% include post_link.html %}
      {% if forloop.last %}</ul><!-- last -->{% endif %}
    {% endunless %}
  {% endfor %}

</section>