---
layout: default
title: Blog
---

{% assign blog_count = 0 %}

<section>

  {% for post in paginator.posts %}
    
    {% assign page = post %}
    {% assign content = post.content %}
    {% assign words = content | number_of_words %}
    
    {% if page.mf-photo and page.mf-photo != "" %}
      {% assign photo = page.mf-photo[0] %}
    {% elsif page.photo %}
      {% assign photo = page.photo %}
    {% endif %}

    {% unless page.draft %}
      
      {% if photo != '' %}
        {% include photo_post.html photo=photo %}
      {% else %}
        {% include post.html %}
      {% endif %}

    {% endunless %}

    {% assign photo = '' %}

  {% endfor %}

  <nav class="pagination container">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="pagination-previous btn">&lang; Previous</a>
    {% else %}
      <span></span>  
    {% endif %}
    <span class="pagination-number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination-next btn">Next &rang; </a>
    {% else %}
      <span class="pagination-next">Next</span>
    {% endif %}
  </nav>

</section>
