<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="header container wrapper">

      <h1 class="logo">
        <a href="{{ site.url }}" class="title__link">
          <img src="{{ site.logo | absolute_url }}" alt="{{ site.title }}" />
        </a>
      </h1>

      {% include navigation.html header="true" %}

    </header>

    <main>

      {{ content }}

    </main>
    
    <footer class="footer container wrapper">

      <div class="footer__content">

        {% unless page.categories contains 'design' %}
          {% unless page.browser_title == 'Subscribe' %}
            {% include newsletter.html %}
          {% endunless %}
        {% endunless %}

        {% include navigation.html %}

        <p class="small">
          If you enjoy <a href="{{ '/blog/' | absolute_url }}" >my writing</a>, you should <a href="{{ '/subscribe/' | absolute_url }}">subscribe</a> and <a href="{{ site.micro_blog }}">follow me on Micro.blog</a>. <br />If you prefer to take things slow, <a href="{{ '/about/' | absolute_url }}">get to know me</a> a bit better first.
        </p>

        {% include search.html %}

      </div>

    </footer>

    <script src="{{ '/js/footer_scripts.js' | absolute_url }}"></script>

  </body>

</html>
