---
layout: default
---

<article class="post">

  {% unless page.hide_title %}
    <header class="post-header">
      <div class="wrapper">
        <span class="post-meta">
          {% if page.date %}
            {{ page.date | date: "%b %-d, %Y" }}
          {% endif %}
          {% if page.date and page.meta %}
            &middot; 
          {% endif %}
          {% if page.meta %}
            {{ page.meta }}
          {% endif %}
        </span>
        <h1 class="post-title">{{ page.title }}</h1>
      </div>
    </header>
  {% endunless %}

  {% if page.photo %}
    <div class="photo">
      <img src="{{ page.photo }}" alt="{{ page.title }}">
    </div>
  {% endif %}
  
  <main class="post-content">
  
    <div class="wrapper">
      {{ content | markdownify }}
    </div>

  </main>

</article>

{% if page.home %}
  {% include case_studies.html %}
{% endif %}