---
layout: default
---

<article class="post">

  {% if page.categories contains 'blog' %}
    <header class="post-header">
      <div class="wrapper">
        <a class="post-meta" href="{{ post.url | prepend: site.baseurl }}">
          {% if page.date %}
            {{ page.date | date: "%b %-d, %Y" }}
          {% endif %}
          {% if page.date and page.meta %}
            &middot; 
          {% endif %}
          {% if page.meta %}
            {{ page.meta }}
          {% endif %}
        </a>
        <h1 class="post-title">{{ page.title }}</h1>
      </div>
    </header>
  {% endif %}

  {% if page.photo %}
    <div class="photo">
      <img src="{{ page.photo }}" alt="{{ page.title }}">
    </div>
  {% endif %}
  
  <main class="post-content">
  
    <div class="wrapper">
      {{ content | markdownify }}
    </div>

    <aside class="wrapper m-top">
      <div class="call-to-action">
        {% if page.categories contains 'design' %}
          <div class="call-to-action-header">
            <h2>
              Thanks for reading about my work with {{ page.title }}.
            </h2>
          </div>
          <p>
            If you like what you've read, you should <a href="mailto:hello@patdryburgh.com">get in touch</a> or view more of <a href="/design/">my work</a>.
          </p>
        {% elsif page.categories contains 'photography' %}
          <a href="/photography" class="btn">Photos &rarr;</a>
        {% else %}
          <div class="call-to-action-header">
            <h2>
              Like what you've read? <a href="/blog">Keep reading</a>, or <a href="/feed/index.xml">subscribe via RSS</a>, or <a href="http://twitter.com/patdryburgh">follow me on Twitter</a>.
            </h2>
          </div>
        {% endif %}
      </div>
    </aside>

  </main>

</article>
