---
layout: default
---

<article class="post">

  <header class="post-header">
    <div class="wrapper">
      <span class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.meta %} &middot; {{ page.meta }}{% endif %}
      </span>
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
  </header>
  
  <main class="post-content">
  
    {% if page.photo %}
      <div class="photo">
        <img src="{{ page.photo }}" alt="{{ page.title }}">
      </div>
    {% endif %}
	
    <div class="wrapper">
      {{ content | markdownify }}
    </div>

  </main>

</article>
