---
layout: default
---

{% assign words = content | number_of_words %}

<article class="post single">

  {% include post_header.html %}

  {% if page.photo %}
    <figure class="post__photo">
      <img src="{{ page.photo | absolute_url }}" alt="{{ page.title }}">
    </figure>
  {% endif %}
  
  <section class="post__content container">

    <div class="wrapper">
  
      {% if page.link %}
        <a href="{{ page.link }}" class="post__micro-link">{{ page.title }} &rarr;</a>
      {% endif %}
      
      {{ content | markdownify }}

      {% if page.categories contains 'design' %}
        {% include design_cta.html %}
      {% endif %}

      {% if page.categories contains 'blog'  or page.categories contains 'micro' %}
        {% include newsletter.html %}
      {% endif %}

    </div>

  </section>

</article>