---
layout: default
---

<article class="post">

  {% if page.photo %}
    <header class="photo-masthead">
      <img src="{{ site.url }}/{{ page.photo }}" alt="{{ page.title }}">
      <h1 class="post-title project-title">
        <div class="wrapper">
          {{ page.it }} <strong>{{ page.title }}</strong>.
        </div>
      </h1>
    </header>
  {% endif %}
  
  <main class="post-content page-content">
  
    <div class="wrapper">
      {{ content | markdownify }}
    </div>

    {% if page.categories contains 'design' %}
      <aside class="wrapper m-top">
        <div class="call-to-action">
            <div class="call-to-action-header">
              <h2>
                Thanks for reading about <a href="{{ '/design/' | absolute_url }}">my work</a> with {{ page.title }}.
              </h2>
            </div>
            <p>
              Interested in working together? You should <a href="mailto:{{ site.email }}">get in touch</a>.
            </p>
        </div>
      </aside>
    {% endif %}

    {% if page.categories contains 'blog' %}
      {% include newsletter.html margin="top" %}
    {% endif %}

  </main>

</article>
