---
layout: default
---

<article class="post project">

  <header class="project-masthead">
    <div class="wrapper m-top m-bottom">
      <h1 class="post-title project-title">
          {{ page.it }} <strong>{{ page.title }}</strong>.
      </h1>
    </div>

    {% if page.photo %}
      <img src="{{ site.url }}/{{ page.photo }}" alt="{{ page.title }}">
    {% endif %}

  </header>
  
  <main class="post-content page-content">
  
    <div class="wrapper">
      {{ content | markdownify }}
    </div>

    {% if page.categories contains 'design' %}
      <aside class="wrapper m-top">
        <div class="call-to-action">
            <div class="call-to-action-header">
              <h2>
                Thanks for reading about <a href="{{ '/design/' | absolute_url }}">my work</a> with {{ page.title }}.
              </h2>
            </div>
            <p>
              Want to talk about how design can help your product or business? You should <a href="{{ '/contact' | absolute_url }}">get in touch</a>. Not sure yet? Read about my work with {% include collection_navigation.html %}.
            </p>
        </div>
      </aside>
    {% endif %}

    {% if page.categories contains 'blog' %}
      {% include newsletter.html margin="top" %}
    {% endif %}

  </main>

</article>
