---
layout: default
---

<article class="post project">

  <header class="project-masthead">
    <div class="wrapper m-top m-bottom">
      <h1 class="post-title project-title">
          {{ page.it }} <strong>{{ page.title }}</strong>.
      </h1>
    </div>

    {% if page.photo %}
      <img src="{{ site.url }}/{{ page.photo }}" alt="{{ page.title }}">
    {% endif %}

  </header>
  
  <main class="post-content page-content">
  
    <div class="wrapper">
      {{ content | markdownify }}
    </div>

  </main>

  {% if page.categories contains 'design' %}
    {% include design-cta.html margin="top" %}
  {% endif %}

  {% if page.categories contains 'blog' %}
    {% include newsletter.html margin="top" %}
  {% endif %}

</article>
